.header {
  background: var(--gray-700);
  padding: 4.5rem 0;
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  gap: 0.75rem;
}

.logo > strong {
  color: var(--blue);
  font-size: 2.5rem;
  font-weight: bold;
}

.logo > strong span {
  color: var(--purple-dark);
}