.form {
  margin-top: calc(0px - 28px);
  display: flex;
  width: 100%;
  max-width: 736px;
  gap: 0.5rem;
}

.form input[type="text"]{
  width: 100%;
  height: 54px;
  padding: 1rem;
  border-radius: 8px;
  color: var(--gray-100);
  background: var(--gray-500);
  border: 1px solid var(--gray-500);
}

.form button[type="submit"]{
  width: 90px;
  height: 52px;
  background: var(--blue-dark);
  border-radius: 8px;
  border: 0;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--gray-100);
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.1s;
}

.form button[type="submit"]:hover {
  background: var(--blue);
}